
<h4>Vendedores Cadastrados</h4>

<table mat-table [dataSource]="vendedores" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
  </ng-container>
 
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> <button (click)="editarVendedor(element)" mat-button mat-icon-button>Editar</button> <button (click)="excluirVendedor(element)" mat-button mat-icon-button>Excluir</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h4>Clientes Cadastrados</h4>


<table mat-table [dataSource]="clientes" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cnpj">
    <th mat-header-cell *matHeaderCellDef> CNPJ </th>
    <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
  </ng-container>

  <ng-container matColumnDef="nascimento">
    <th mat-header-cell *matHeaderCellDef> Nascimento </th>
    <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
  </ng-container>

  <ng-container matColumnDef="vendedor">
    <th mat-header-cell *matHeaderCellDef> Vendedor </th>
    <td mat-cell *matCellDef="let element"> {{element.nomeVendedor}} </td>
  </ng-container>
 
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> <button (click)="editarCliente(element)" mat-button mat-icon-button>Editar</button> <button (click)="excluirCliente(element)" mat-button mat-icon-button>Excluir</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumnsCliente"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumnsCliente;"></tr>
</table>